.navibar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 50px;
  margin-right: 20%;
  margin-top: 50px;
}

/* Para mobile */
@media only screen and (max-width: 600px)
{
  .navibar {
    font-size: 10px;
    margin-right: 10%;
    width: 370px;
  }
}