.titleAbout {
  margin-left: 4%;
  margin-top: 30px;
}

.pageUserAbout {
  margin-left: 27%;
  padding-top: 6%;
  width: 50%;
}

.boxUserAbout {
  background-color: white;
  border: solid 1px rgb(224, 222, 222);
  border-radius: 1%;
  height: 650px;
  width: 900px;
}

.formAbout {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  width: 95%;
}

.InputAbout {
  background-color: rgb(245, 247, 248);
  height: 200px;
  width: 90%;
}

.previousButtonAbout {
  background-color: #8C98A9;
  border-radius: 3%;
  color: white;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  margin-left: 60%;
  margin-top: 80px;
}

.nextButtonAbout {
  background-color: #5357B1;
  border-radius: 3%;
  color: white;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  margin-left: 15px;
  margin-top: 80px;
}

/* Para telas grandes */
@media only screen and (max-width: 1280px)
{
  .pageUserAbout {
    margin-left: 15%;
  }
}

/* Para telas pequena / laptops */
@media only screen and (max-width: 1024px)
{
  .pageUserAbout {
    margin-left: 6%;
    padding-top: 10%;
  }
}

/* Para telas pequena / laptops */
@media only screen and (max-width: 912px)
{
  .pageUserAbout {
    margin-left: 11%;
    padding-top: 30%;
  }

  .boxUserAbout {
    background-color: white;
    border: solid 1px rgb(224, 222, 222);
    border-radius: 1%;
    height: 720px;
    width: 700px;
  }
  
  .previousButtonAbout {
    margin-left: 50%;
    margin-top: 80px;
  }
}

/* Para Tablet */
@media only screen and (max-width: 768px)
{
  .pageUserAbout {
    padding-top: 20%;
  }

  .boxUserAbout {
    height: 720px;
    width: 600px;
  }
  
  .previousButtonAbout {
    margin-left: 40%;
    margin-top: 80px;
  }
}

/* Para mobile */
@media only screen and (max-width: 600px)
{
  .pageUserAbout {
    padding-top: 5%;
  }

  .boxUserAbout {
    height: 700px;
    margin-left: 5%;
    width: 400px;
  }
  
  .previousButtonAbout {
    margin-left: 12%;
    margin-top: 80px;
  }
}