.titleID {
  margin-left: 4%;
  margin-top: 30px;
}

.pageUserId{
  margin-left: 27%;
  padding-top: 10%;
  width: 50%;
}

.boxUserId {
  background-color: white;
  border: solid 1px rgb(224, 222, 222);
  border-radius: 1%;
  height: 650px;
  width: 900px;
}

.formName {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.senha {
  display: flex;
  flex-direction: row;
  width: 95%;
}

.InputName {
  background-color: rgb(245, 247, 248);
  height: 23px;
  width: 90%;
}

.formSenha {
  width: 50%;
  margin-left: 5%;
}

.emailBirth {
  display: flex;
  flex-direction: row;
  width: 95%;
}

.formEmail {
  width: 50%;
  margin-left: 5%;
}

.formBirth {
  margin-left: 40px;
  width: 50%;
}

.InputPassword {
  background-color: rgb(245, 247, 248);
  height: 23px;
  width: 90%;
}


.InputEmail {
  background-color: rgb(245, 247, 248);
  height: 23px;
  width: 90%;
}

.InputBirth {
  background-color: rgb(245, 247, 248);
  height: 23px;
  margin-bottom: 10px;
  width: 90%;
}

.nextButtonId {
  background-color: #5357B1;
  border-radius: 3%;
  color: white;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  margin-left: 80%;
  margin-top: 115px;
}