.titleID {
  margin-left: 4%;
  margin-top: 30px;
}

.pageUserId{
  margin-left: 27%;
  padding-top: 6%;
  width: 50%;
}

.boxUserId {
  background-color: white;
  border: solid 1px rgb(224, 222, 222);
  border-radius: 1%;
  height: 650px;
  width: 900px;
}

.formName {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.senha {
  display: flex;
  flex-direction: row;
  width: 95%;
}

.InputName {
  background-color: rgb(245, 247, 248);
  height: 23px;
  width: 90%;
}

.formSenha {
  width: 50%;
  margin-left: 5%;
}

.emailBirth {
  display: flex;
  flex-direction: row;
  width: 95%;
}

.formEmail {
  width: 50%;
  margin-left: 5%;
}

.formBirth {
  margin-left: 40px;
  width: 50%;
}

.InputPassword {
  background-color: rgb(245, 247, 248);
  height: 23px;
  width: 90%;
}


.InputEmail {
  background-color: rgb(245, 247, 248);
  height: 23px;
  width: 90%;
}

.InputBirth {
  background-color: rgb(245, 247, 248);
  height: 23px;
  margin-bottom: 10px;
  width: 90%;
}

.nextButtonId {
  background-color: #5357B1;
  border-radius: 3%;
  color: white;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  margin-left: 80%;
  margin-top: 90px;
}

/* Para telas grandes */
@media only screen and (max-width: 1280px)
{
  .pageUserId {
    margin-left: 15%;
  }
}

/* Para telas pequena / laptops */
@media only screen and (max-width: 1024px)
{
  .pageUserId {
    margin-left: 6%;
    padding-top: 10%;
  }
}

/* Para telas pequena / laptops */
@media only screen and (max-width: 912px)
{
  .pageUserId {
    margin-left: 11%;
    padding-top: 30%;
  }

  .boxUserId {
    height: 720px;
    width: 700px;
  }
  
  .nextButtonId {
    margin-left: 70%;
  }
}

/* Para Tablet */
@media only screen and (max-width: 768px)
{
  .pageUserId {
    padding-top: 20%;
  }

  .boxUserId {
    height: 720px;
    width: 600px;
  }
  
  .nextButtonId {
    margin-left: 65%;
  }
}

/* Para mobile */
@media only screen and (max-width: 600px)
{
  .pageUserId {
    padding-top: 5%;
  }

  .boxUserId {
    height: 700px;
    margin-left: 5%;
    width: 400px;
  }
  
  .nextButtonId {
    margin-left: 53%;
    margin-top: 80px;
  }
}